/* App level styles */

.app {
  min-height: 100vh;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px;
  padding: 24px 40px;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}
